body {
    font-family: "GothamHTF-Book";
    overflow-x: hidden;
    padding-right: 0px !important;
}
html
{
overflow-x: hidden;
}

.Dis {
    pointer-events: none;
}

.allModule1 .btn,.allModule2 .btn,.allModule3 .btn{
    border: 2px solid #2cb69d !important;
    display: block !important;
  
}
.allModule1 .btn:hover, .allModule2 .btn:hover, .allModule3 .btn:hover{
    border: 2px solid #0097a7 !important;
}
.allModule1 .act1, .allModule2 .act1, .allModule3 .act1{
    border: 2px solid #0097a7 !important;
    background: #ccc !important;
    display: block !important;
}
.linea {
   font-size: 24px;
    line-height: 80px;
}
#notifyLogout{
    z-index: 999999999;
}
.wordClouds{
    visibility: hidden;
    height: 0px;
}
.wordClouds p{
    margin-bottom: 18px;
}
div.jqcloud span.vertical {
        -webkit-writing-mode: vertical-rl;
        writing-mode: tb-rl;
}
#my_favorite_latin_words span{
 color: #fff !important;
}
.dis{
     background: rgba(255, 255, 255, 0.33) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
    display: none;
}
.hide{
    display: none;
}#loginF #password-error{
    color: #ff0000;
}
#loginF #username-error{
    color: #ff0000;
}
#loginF a{
    color: #e2873b;
    font-size: 13px;
}
#loginF a:hover{
    color: #e2873b;
    text-decoration: none !important;
    font-size: 13px;
}
.section{
    width: 485px;
    height: 80px;
    word-wrap: break-word;
}
.MSection{
    /*display: none;*/
}
.s_bottom{
left: 32px;
position: absolute;
top: 8px;
font-family: "GothamHTF-book";
color: #f6821f;
width: 442px;
word-wrap: break-word;
     
}

.s_top{
    position: relative;
   top: -10px;
    font-family: "GothamHTF-Bold";
    word-wrap: break-word;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#login .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
#login .modal-content{
    border-radius: 0px;
    background-image: url('../img/bgLogin.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    box-shadow:none;

}
#login .modal-content .modal-body{
    min-height: 350px;
}
#login .modal-content .modal-header{
   border:none;
}
#login .modal-content .modal-footer{
   border:none;
}

#forgot .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
#forgot .modal-content{
    border-radius: 0px;
    background-image: url('../img/bgLogin.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    box-shadow:none;

}
#forgot .modal-content .modal-body{
    min-height: 350px;
}
#forgot .modal-content .modal-header{
   border:none;
}
#forgot .modal-content .modal-footer{
   border:none;
}
#wel .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
#wel .modal-content{
    border-radius: 0px;
    background-image: url('../img/bgLogin.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    box-shadow:none;

}
#wel .modal-content .modal-body{
    min-height: 350px;
}
#wel .modal-content .modal-header{
   border:none;
}
#wel .modal-content .modal-footer{
   border:none;
}
#passReset .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
#passReset .modal-content{
    border-radius: 0px;
    background-image: url('../img/bgLogin.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    box-shadow:none;

}
#passReset .modal-content .modal-body{
    min-height: 350px;
}
#passReset .modal-content .modal-header{
   border:none;
}
#passReset .modal-content .modal-footer{
   border:none;
}
#registration .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
#registration .modal-content{
   background-image: url("../img/bgLogin.png");
    background-repeat: no-repeat;
    background-size: 101% 101%;
    border-radius: 0;
    box-shadow: none;

}
#registration .input-sm{
    height: auto;
}
#registration .modal-content .modal-body{
   /* min-height: 768px;*/
}
#registration .modal-content .modal-header{
   border:none;
}
#registration .modal-content .modal-footer{
   border:none;
}
#registration .error{
    color:#ff0000; 
}
#registration .errorC #Gender-error{
    font-weight: bold;
    left: -76px;
    max-width: 506%;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 18px;
    width: 250px;
}
.c{
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
}
.c option{
    color: #000;
}


.modal-backdrop{
   background-color: #fff;
}
.headers .vertical-align {
    align-items: center;
    display: flex;
}
.navbar {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 80px;
}
.navbar-nav > li > a {
    line-height: 80px;
    padding-bottom: 0;
    padding-top: 0;
    height: 80px;
    position: relative;
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #3b4254;
    color: #fff;
}
.b1 {
        margin-bottom: 0px;
    background: url('../img/img1.jpg') no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.b1 h2 {

        background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 15.5%;
}
.b1 .container p {
     background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}

.container .carousel-inner{
    padding-bottom: 75px !important;
    min-height: 680px;
}

.b2 {
  /*  background-image: url("../img/img5.png");
    background-position: 0 25%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    margin-bottom: 0;
    min-height: 520px;
    position: relative;*/

    margin-bottom: 0px;
    background: url('../img/img5.png') no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    /*background-color: #060;*/
        color: white;
    /*text-shadow: black 0.3em 0.3em 0.3em;*/
   /* background-color: #fff;*/
    min-height: 300px;
}
.b3 {
    background-image: url("../img/img5.jpg");
    background-position: 0 25%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    margin-bottom: 0;
    min-height: 650px;
    position: relative;
    text-shadow: 0.3em 0.3em 0.3em black;
}
.b2 .container-full {
    position: relative;
    top: 10px;
    z-index: 999;
}
.boldT {
    font-family: "GothamHTF-Bold";
}
.panel {
    border: 0 none;
    border-radius: 0;
    color: #3c4252;
    text-shadow: none;
}
.panel h2 {
    font-family: "GothamHTF-Bold";
    font-size: 15px;
}
.panel h5 {
    color: #7d91a9;
    font-size: 14px;
}
.panel p {
    font-family: "GothamHTF-Medium";
    font-size: 12px;
}
.b2 .tint {
    background: rgba(118, 131, 148, 0.85) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.b3 .tint {
    background: rgba(84, 164, 155, 0.85) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.b3 .container-full {
    margin-bottom: 100px;
    position: relative;
    top: 100px;
    z-index: 9999999;
}
/*.b2 .container-full {
    position: relative;
    top: 100px;
    z-index: 9999999;
}*/
.well {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 solid #e3e3e3;
    box-shadow: none;
}
.well h3 {
    color: #f49951;
    font-family: "GothamHTF-Bold";
    font-size: 14px;
}
.well h3 span {
    color: #7e90a8;
}
.well h4 {
    font-family: "GothamHTF-Bold";
    font-size: 18px;
}
.t2 .row {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.t2 .row .col-sm-6 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.gray {
    background: #f0f0f0 none repeat scroll 0 0;
}
.black {
    background: #3b4254 none repeat scroll 0 0;
    color: #fff;
}
.left .fa-angle-left, .right .fa-angle-right {
    color: #000;
}
.carousel-control.right {
    background-image: none;
    line-height: 624px;
    height: 0px;
}
.carousel-control.left {
    background-image: none;
    line-height: 624px;
    height: 0px;
}
.carousel-indicators {
    bottom: 50px;
}
.carousel-indicators .active {
    background-color: #ccc;
}
.carousel-indicators li {
    background-color: #999;
}
#myCarousel .col-sm-4 p {
    color: #7f90a5;
    font-family: "GothamHTF-Bold";
    margin-top: 12px;
}
#myCarousel .col-sm-4 div {
    font-size: 12px;
    font-family: "GothamHTF-Medium";
    overflow: hidden; 
}
           
     
#myCarousel .col-sm-4 p a{
color: #f0ad4e;
}
#myCarousel .row .slideP {
    font-family: "GothamHTF-Bold";
     margin-bottom: 13%;
    margin-top: 19px;
}


.modal-backdrop.in {
   /* display: none;*/
}

#myCarousel .model_name{
    font-size: 12px;
    font-family: "GothamHTF-Bold";
    color: #f0ad4e !important;
} 
 
.carousel-inner .modal-dialog {
       margin-top: 0px !important;
      /* width: 810px  !important;*/
}
#myCarousel .modal-body {
 visibility: visible;
 border: 1px solid #999;
}

#myModal_2 .modal-dialog {
    margin: 13px auto 30px;
    position: relative;
    width: 79%;
}
#myModal_3 .modal-dialog {
    margin: 13px auto 30px;
    position: relative;
    width: 78%;
}
#myModal_4 .modal-dialog {
    margin: 13px auto 30px;
    position: relative;
    width: 79%;
}
 .carousel-control{
    width: 7% !important;
}
#myCarousel .modal{
    top:144px !important;
}

a:focus, a:hover{
  /*   font-family: "GothamHTF-Bold" !important;
   text-decoration: underline;*/
}





 /*footer*/

footer {
    background-color: #fff;
    padding: 25px;
}
footer a {
    color: #3a4354;
}
/*footer span:nth-child(1) {
    color: #3a4354;
    font-size: 13px;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 502px;
}
footer span:nth-child(2) {
    color: #3a4354;
    font-size: 15px;
    position: absolute;
    right: 50px;
    top: 28px;
    width: 502px;
}*/

.container-fluid .ssp1{
    color: #3a4354;
    font-size: 13px;
    position: absolute;
    left: 50px;
    top: 10px;
    width: 702px;
}
.container-fluid .ssp2{
    color: #3a4354;
    font-size: 13px;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 702px;
}
.container-fluid .sp2{
    color: #3a4354;
    font-size: 15px;
    position: absolute;
    right: 50px;
    top: 28px;
    width: 555px;
}
.container-fluid .sp1{
    color: #3a4354;
    font-size: 15px;
    position: absolute;
    left: 50px;
    top: 28px;
    width: 555px;
}

.container-fluid .spImg{    
 /*   position: relative;    
    top: 20px;    
    z-index: 999999999;*/
}


 /*footer end*/
.NextBtn {
    cursor: pointer;
}
.NextBtn1 {
    cursor: pointer;
}
.vcenter {
     line-height: 39px;
    min-height: 15px;
    text-align: left;
     padding-left: 0px;
}
.menus {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99999;
}

.menus .wellC {
    padding-top: 16px;
}
.menus .r2 {
    background: #eaeaea none repeat scroll 0 0;
   
}
.menus .lG2 .navbar-form .input-group > .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}
.menus .lG1 {
   /* background: rgb(44, 182, 157) none repeat scroll 0 0;*/
    min-height: 170px;
}
.menus .lG1 .row:nth-child(1) {
    min-height: 32px;
}
.menus .lG1 .row:nth-child(2) {
    min-height: 60px;
}
.menus .lG1 .row:nth-child(3) {
    min-height: 60px;
}
.menus .lG1 .row:nth-child(4) {
    min-height: 5px;
}
.menus .lG2 {
    min-height: 170px;
}
.menus .lG2 .row:nth-child(1) {
    min-height: 85px;
}
.menus .lG2 .row:nth-child(2) {
    min-height: 85px;
}
.menus .lG2 .navbar-form {
    border: 0 solid #fff !important;
    box-shadow: none;
}
.menus .col-sm-6 ul li {
    padding: 5px;
}
.menus .col-sm-6 ul {
    padding-bottom: 15px;
}
.menus .btn-info {
    background: rgb(246, 129, 33) none repeat scroll 0 0;
   
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
}
.menus .r1 .btns {
    cursor: pointer;
      min-height: 47px;
}
.menus .r1 .btns:hover {
    background: #eaeaea none repeat scroll 0 0;
}
.menus .m1{
   text-align: left; 
}

 .menus::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 158px;
    position: absolute;
    top: -8px;
}
  .menus::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 158px;
    position: absolute;
    top: -7px;
  }

.menus .progress {
    background: #363e4b;
    border-radius: 0;
    height: 11px;
    margin-left: 16px;
    margin-right: 41px;
    margin-top: 29px;
    overflow: visible;
    margin-top: 17px;
}
.menus .progress-bar {
    background: rgba(45, 181, 157, 0.65) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    height: 314%;
    margin-top: -12px;
}
.menus .fontSize {
    font-size: 30px;
}
.menus .bb{
     border-bottom: 1px solid #eaeaea;
}
.menus .bt{
     border-top: 1px solid #eaeaea;
 }
 .menus .act{
    background: #eaeaea;
 }
 .menus .complete{
    color: #43bea7 !important;
 }
.menus  .small{
    /*color: #a0a0a0;*/
}
.menus .iconOutcone{
    background: #5faac9 none repeat scroll 0 0;
    border-radius: 50%;
    height: 44px;
    padding: 0.5px;
    width: 44px;
}
.menus .iconOutconeTime{
    background: #d3bb37;
    border-radius: 50%;
    height: 44px;
    padding: 0.5px;
    width: 44px;
}




.MSection {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99999;
    padding-left: 83px;
    padding-right:83px;
}
.MSection .m{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    width: auto;
   height: 100%;
 
}

.MSection .clickS{
	display:none;
}
.MSection .clickS1{
	display:block;
}
.MSection .wellC {
    padding-top: 16px;
}
.MSection .r2 {
    background: #eaeaea none repeat scroll 0 0;
   min-height: 553px;
}
.MSection .lG2 .text1 {
    position: relative;
    top: -31px;
}
.MSection .lG2 .text1 .mP{
    font-size: 27px;
}
.MSection .lG2 .navbar-form .input-group > .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;

}
.MSection .lG1 {
   /* background: rgb(44, 182, 157) none repeat scroll 0 0;*/
    min-height: 170px;
}
.MSection .lG1 .row:nth-child(1) {
    min-height: 32px;
}
.MSection .lG1 .row:nth-child(2) {
    min-height: 60px;
}
.MSection .lG1 .row:nth-child(3) {
    min-height: 60px;
}
.MSection .lG1 .row:nth-child(4) {
    min-height: 5px;
}
.MSection .lG2 {
    min-height: 114px;
}
.MSection .lG2 .row:nth-child(1) {
    min-height: 85px;
}
.MSection .lG2 .row:nth-child(2) {
    min-height: 85px;
}
.MSection .lG2 .navbar-form {
    border: 0 solid #fff !important;
    box-shadow: none;
}
.MSection .col-sm-6 ul li {
    padding: 5px;
}
.MSection .col-sm-6 ul {
    padding-bottom: 15px;
}
.MSection .btn-info {
    background: rgb(246, 129, 33) none repeat scroll 0 0;
   
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
}
.MSection .r1 .btnss {
    cursor: pointer;
      min-height: 47px;
}
.MSection .r1 .btnss:hover {
    background: #eaeaea none repeat scroll 0 0;
}
.MSection .m1{ 
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
}

 .MSection::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 523px;
    position: absolute;
    top: -8px;
}
  .MSection::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 523px;
    position: absolute;
    top: -7px;
  }

.MSection .progress {
    background: #363e4b;
    border-radius: 0;
    height: 11px;
    overflow: visible;
     margin-top: 17px;
      margin-left: 16px;
    margin-right: 36px;
}
.MSection .progress-bar {
    background: rgba(45, 181, 157, 0.65) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    height: 314%;
    margin-top: -12px;
}
.MSection .fontSize {
    font-size: 30px;
}
.MSection .bb{
     border-bottom: 1px solid #eaeaea;
}
.MSection .bt{
     border-top: 1px solid #eaeaea;
 }
 .MSection .act{
    background: #eaeaea;
 }
 .MSection .complete{
    color: #43bea7 !important;
 }
.MSection  .small{
    /*color: #a0a0a0;*/
}
.MSection .iconOutcone{
    background: #5faac9 none repeat scroll 0 0;
    border-radius: 50%;
    height: 44px;
    padding: 0.5px;
    width: 44px;
}
.MSection .iconOutconeTime{
    background: #d3bb37;
    border-radius: 50%;
    height: 44px;
    padding: 0.5px;
    width: 44px;
}


.inp{
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
}

.alerts .modal-dialog{
    margin-top: 114px;
    color: #fff;
    border:0px solid #000;
}
.alerts .modal-content{
    border-radius: 0px;
    background-image: url('../img/bgLogin.png');
    background-repeat: no-repeat;
    background-size: 1000px auto;
    box-shadow:none;

}
.alerts .modal-content .modal-body{
    min-height: 107px;
}
.alerts .modal-content .modal-header{
   border:none;
}
.alerts .modal-content .modal-footer{
   border:none;
}
.line4{
    border-bottom: 2px solid #DCDDDF;
    margin: 40px  auto;
    width: 30%;
}
.line6{
    border-bottom: 2px solid #DCDDDF;
    margin: 40px  auto;
    width: 60%;
}
.line9{
    border-bottom: 2px solid #DCDDDF;
    margin: 40px  auto;
    width: 93%;
}

















#loader-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1099999900;
}
#loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #3498db transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    width: 150px;
    z-index: 1001;
}
#loader::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #e74c3c transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#loader::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #f9c922 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
#loader-wrapper .loader-section {
    background: #222 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 51%;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper {
   
    visibility: hidden;
}



.b2 h5,.b2 .container p {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    padding: 10px 30px;
    display: inline-block;
}
.b2 .container p {
    font-size: 40px;
    margin-top: 20px;
}

.headers .FAQ{
    display: none;
    padding-left: 193px !important;
    padding-right: 43px;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.headers .FAQ .mainFAQ{
     background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
}
.headers  .FAQ::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 33px;
    position: absolute;
    top: -8px;
}
.headers  .FAQ::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
     right: 33px;
    position: absolute;
    top: -7px;
}

.headers .panel-group .panel-heading .panel-title {
        font-family: "GothamHTF-Medium"  !important;
        font-size: 110% !important;
        cursor: pointer  !important;
    }

.headers .panel-group .panel-default > .panel-heading {
    background-color: #fff !important;
    
}
.headers .panel-group .panel-body {
    border-bottom: none 0 !important;
    background-color: #eaeaea;
}

.padd0{
    padding: 0px;
}

.headers .saerch .nav-tabs > li > a  {
     border: medium none;
    border-radius: 0;
    font-size: 18px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    color: #000;
     margin-right: 0;
}
.headers .saerch .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.headers .saerch .nav-tabs > li.active > a, 
.headers .saerch .nav-tabs > li.active > a:focus, 
.headers .saerch .nav-tabs > li.active > a:hover {
     background-color: #2ad7b9;
    color: #555;
    cursor: default;
    font-size: 18px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.headers .saerch{
    display: none;
    padding-left: 83px !important;
    padding-right: 83px;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.headers .saerch .mainSaerch{
     background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
}
.headers .saerch #Smodule .well{
    /*background: #eaeaea;*/
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 0px;
}
.headers .saerch #Sfull .well:hover{
 background: #eaeaea;
}
.headers .saerch #Sfull .well{
    /*background: #eaeaea;*/
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 0px;
}
.headers .saerch #Smodule .well:hover{
 background: #eaeaea;
}
.headers .marked-text{
background: rgba(255,255,0,0.8);

}
.headers .marked-text{
background: rgba(255,255,0,0.8);
}
.headers .alert1{
background: #0097a7 none repeat scroll 0 0;
    border: 1px solid #595959;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 77px;
}
.headers #section .faqBtn{
min-width: 69px;
}
.headers .MSection .bb .col-sm-2{
 width: 10% !important;
}
.headers .MSection .bb .col-sm-7{
 width: 62% !important;
}
.headers .menus .bb .col-sm-2{
 width: 24% !important;
}
.headers .menus .bb .col-sm-7{
 width: 62% !important;
}
.headers .loader {
    display: none;
        border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    height: 20px;
    /*margin-left: 7px;*/
    width: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}


/*.cc {
    position: fixed;
    top: 46%;
    right: -2px;
    z-index: 99;                
    cursor: pointer;
}

.ccImg {
    position: fixed;
    top: 46%;
    right: -302px;
    z-index: 999; 
    cursor: pointer;
}
*/

