.m2s1p1 .m2s1ms2 .well{
background: #f4f4f4;
}
.m2s1p1 .m2s1b1 {
    margin-bottom: 0px;
    background: url('../img/m2s1img1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m2s1p1 .m2s1b1 h2{
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
.m2s1p1 .m2s1b1 .container p{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}
.m2s1p1 .bg-3  h3 {
    font-family: "GothamHTF-Bold";
}




.m2s1p1 .m2s1ms2 h3{
    font-family: "GothamHTF-Bold";    
}
.m2s1p1 .m2s1ms2 .row{
    margin:30px;
    padding-left:0px;
    padding-right:0px;
}




.m2s1p1 .m2s1b2{
     margin-bottom: 0px;
    background: url('../img/m2s1img3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;    
    color: white;
    text-shadow:none;    
    min-height: 470px;   
}

.m2s1p1 .m2s1b2 .container h2{   
    text-shadow:none;
    color:#000;
    font-family: "GothamHTF-Bold";    
    color: #fff;   
}

.m2s1p1 .m2s1b2 .bg4 {
    background: #f68121;
    border-radius:0px;"   
  /*padding: 30px !important;*/
}

.m2s1p1 .m2s1b2 .bg4 p {    
    font-family: "GothamHTF-Medium";
}


.m2s1p1 .m2s1ms2 .row{
    margin:30px;
    padding-left:0px;
    padding-right:0px;
}


.m2s1p1 .m2s1b2 .inner{margin:0px !important;}
.m2s1p1 .vertical-align {
  display: flex;
  flex-direction: row;
}

.m2s1p1 .vertical-align > [class^="col-"],
.m2s1p1 .vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {
    .m2s1p1 .m2s1b1 {
    margin-bottom: 0px;
    background: url('../img/m2s1img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m2s1p1 .vertical-align {
    display: inline-flex;
}
.m2s1p1 .m2s1b1 .container h2{
    font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }
.m2s1p1 .m2s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }

.m2s1p1 .m2s1b2{
    margin-bottom: 0px;
    background: url('../img/m2s1img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;    
    color: white;
    text-shadow:none;    
    min-height: 470px;   
}

}




@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {    
    .m2s1p1 .m2s1b1 {
    margin-bottom: 0px;
    background: url('../img/m2s1img1.png') no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m2s1p1 .vertical-align {
  display: inline;
}
.m2s1p1 .m2s1b1 .container h2{
     font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
}
.m2s1p1 .m2s1b1 .container p{
    font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
}

.m2s1p1 .m2s1b2{
    margin-bottom: 0px;
    background: url('../img/m2s1img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;    
    color: white;
    text-shadow:none;    
    min-height: 470px;   
}
.m2s1p1 .dArowh {
    display: none;  
}

}



@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
    .m2s1p1 .m2s1b1 {
    margin-bottom: 0px;
    background: url('../img/m2s1img1.png') no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
    .m2s1p1 .vertical-align {
  display: inline;
}
.m2s1p1 .m2s1b1 .container h2{  
    font-family: "GothamHTF-Bold";
    font-size: 103%;
    width: 100%;
    }

.m2s1p1 .m2s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }
.m2s1p1 .m2s1b2{
    margin-bottom: 0px;
    background: url('../img/m2s1img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;    
    color: white;
    text-shadow:none;    
    min-height: 470px;   
}

.m2s1p1 .dArowh {
    display: none;  
}

}




@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
    .m2s1p1 .m2s1b1 {
    margin-bottom: 0px;
    background: url('../img/m2s1img1.png') no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m2s1p1 .vertical-align {
  display: inline;
}
.m2s1p1 .m2s1b1 .container h2 {  
    font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
    }
.m2s1p1 .m2s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
    }
.m2s1p1 .m2s1b2{
    margin-bottom: 0px;
    background: url('../img/m2s1img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;    
    color: white;
    text-shadow:none;    
    min-height: 470px;   
}

.m2s1p1 .dArowh {
    display: none;  
}

}