.m2s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m2s4p1 .b1 h2 {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
.m2s4p1 .b1 .container p {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}

.m2s4p1 .m2s4b2 h3, .m2s4p1 .m2s4b2 h4, .m2s4p1 .m2s4b2 h5 {
    font-family: "GothamHTF-Bold";
} 
.m2s4p1 .m2s4b3 ol {
    margin-left: -22px;        
}

.m2s4p1 .bg-3 {
     font-family: "GothamHTF-Medium";
}
.m2s4p1 .bg-3 ol {
    margin-left: -22px;        
}



.m2s4p1 .m2s4bgcol{   
    width: 100%; 
    padding-top: 30px;
    padding-bottom: 0px;
}
.m2s4p1 .jumbotron .m2s4b3 p {
    font-size: 14px !important;
}



.m2s4p1 .m2s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    /*padding-top: 80px;*/
    padding-bottom: 80px;
}
.m2s4p1 .m2s4b7 {   
    height: 100%;
  }

.m2s4p1 .m2s4b7 .col-sm-9 .well p:nth-child(1){
    color: #f68121;
    font-family: "GothamHTF-Medium";  
}
.m2s4p1 .m2s4b7 .col-sm-9 .well p:nth-child(2){
    font-family: "GothamHTF-Bold";
    font-size: 18px !important;
}
.m2s4p1 .m2s4b7 .col-sm-9 .well p:nth-child(3){
    font-family: "GothamHTF-Medium";    
}
.m2s4p1 .m2s4b7 .col-sm-9 .well p:nth-child(4){
    font-family: "GothamHTF-BookItalic";    
    font-size: 12px !important;
    overflow-wrap: break-word;
}

.m2s4p1 .jumbotron .m2s4b7 p {
    font-size: 14px !important;
}

.m2s4p1 .vertical-align {
    align-items: center;
    display: flex;
}
.m2s4p1 .m2s4b6 h2 {
    color:#fff;
    font-family: "GothamHTF-Bold";
 }

.m2s4p1  .m2s4b7 .col-sm-12 .well1{
   background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;    
}

.m2s4p1  .m2s4b7 .col-sm-9 {  
    height: 100%;
    padding-left: 0;
}
.m2s4p1  .m2s4b7 .col-sm-9 .well{   
     background:#fff;
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;       
}
.m2s4p1  .m2s4b7 .well1 .row{   
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;
}

/*.m2s4p1 .eq-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.m2s4p1 .eq-h > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/


/*vid*/


.m2s4p1 #b1 .myDiv0 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 270px;
    margin-left: 26%;
    margin-top: -38%;
    max-width: 600px;
    position: absolute;
    width: 100%;
    z-index: 99;
    display: none;
}

.m2s4p1 #b1 #myDiv1  {
    bottom: 20px;
    color: #fff;
    font-family: "GothamHTF-Medium";
    position: relative;
    top: 1%; 
    padding: 30px;    
}
.m2s4p1 #b1 #myDiv2  {
    margin-top: 30px !important;
    position: relative;     
}

.m2s4p1 #b1 #myDiv3 {
    font-family: "GothamHTF-Medium";
    position: relative;
    color: #fff;
     margin-top: 30px !important;
     font-size:24px;
   
 }

.m2s4p1 #b1 .btn {
    width: 100px !important;   
    background: #cacaca !important;
    border: none;
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    margin-right: 10px;   
    
}



.m2s4p1 .m2s4b1{
        color: #fff;
        background-color: #535b72;
}
.m2s4p1 .m2s4b1 h3{
    font-family: "GothamHTF-Bold"; 
  }
.m2s4p1 .m2s4b1 p {
    font-size: 14px;
  }




@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {

.m2s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m2s4p1 .jumbotron .container h2{
    font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }

.m2s4p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }
.m2s4p1 .s3hide {
    display: none;
}


.m2s4p1 .m2s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}


}



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {    

  .m2s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img1.png') no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m2s4p1 .jumbotron .container h2{
    font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
}
.m2s4p1 .b1 .container p{
    font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
}
.m2s4p1 .s3hide {
    display: none;
}




.m2s4p1 .dArowh {
    display: none;  
}

.m2s4p1 .m2s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

}





@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {

  .m2s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img1.png') no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
    
.m2s4p1 .jumbotron .container h2{  
    font-family: "GothamHTF-Bold";
    font-size: 103%;
     width: 90%;
    }

.m2s4p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }

    .m2s4p1 .s3hide {
    display: none;
}




.m2s4p1 .dArowh {
    display: none;  
}

.m2s4p1 .m2s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

}



@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {

.m2s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img1.png') no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m2s4p1 .jumbotron .container h2 {  
    font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
    }

.m2s4p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
    }

.m2s4p1 .s3hide {
    display: none;
}



.m2s4p1 .dArowh {
    display: none;  
}

.m2s4p1 .m2s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m2s4img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}


}