.m3s1p1 .m3s1b1 {
    margin-bottom: 0px;
    background: url('../img/m3s1img1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s1p1 .m3s1b1 h2{
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
.m3s1p1 .m3s1b1 .container p{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}
.m3s1p1 .m3s1ms1  h3 {
    font-family: "GothamHTF-Bold";
}

.m3s1p1 .m3s1ms1  h4 {
    font-family: "GothamHTF-Bold";
    margin-bottom: 30px !important;
    margin-top: 20px !important;
}




.m3s1p1 .m3s1ms2 h3{
    font-family: "GothamHTF-Bold";    
}
.m3s1p1 .m3s1ms2 .row{
/*    margin:30px;*/
    padding-left:0px;
    padding-right:0px;
}

.m3s1p1 .m3s1ms2 .imgGallry {
    background: #f5f5f5;
}

.m3s1p1 .m3s1ms2 .well {
    margin-bottom: 0px !important;
    padding: 15px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.m3s1p1 .m3s1ms2 .inner{margin:0px !important;}
.m3s1p1 .vertical-align {
  display: flex;
  flex-direction: row;
}

.m3s1p1 .vertical-align > [class^="col-"],
.m3s1p1 .vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: left; /* Optional, to align inner flex-items
                              horizontally within the column  */
}



.m3s1p1 .m3s1ms3 h5 {   
    font-family: "GothamHTF-Medium";        
}
.m3s1p1 .m3s1ms3 ol {
    margin-left: -22px;    
    font-family: "GothamHTF-Medium";        
}


@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {
    .m3s1p1 .m3s1b1 {
    margin-bottom: 0px;
    background: url('../img/m3s1img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s1p1 .vertical-align {
    display: inline-flex;
}
.m3s1p1 .m3s1b1 .container h2{
    font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }
.m3s1p1 .m3s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }

.m3s1p1 .m3s1ms2 .well {
    margin-bottom: 0px !important;
    padding: 5px !important;
}
.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-left: 15px !important;
    padding-right: 15px !important;
}



}




@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {    
    .m3s1p1 .m3s1b1 {
    margin-bottom: 0px;
    background: url('../img/m3s1img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s1p1 .vertical-align {
  display: inline;  
}

.m3s1p1 .vertical-align > [class^="col-"],
.m3s1p1 .vertical-align > [class*=" col-"] {
  display: flex;
  align-items: left !important;     /* Align the flex-items vertically */
  justify-content: left !important; /* Optional, to align inner flex-items
                              horizontally within the column  */
}


.m3s1p1 .m3s1b1 .container h2{
     font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
}
.m3s1p1 .m3s1b1 .container p{
    font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
}

.m3s1p1 .m3s1ms2 .well {
    margin-bottom: -15px !important;
    padding: 5px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px !important;
}



.m3s1p1 .dArowh {
    display: none;  
}

}



@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
    .m3s1p1 .m3s1b1 {
    margin-bottom: 0px;
    background: url('../img/m3s1img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
    .m3s1p1 .vertical-align {
  display: inline;
}

.m3s1p1 .vertical-align > [class^="col-"],
.m3s1p1 .vertical-align > [class*=" col-"] {
  display: flex;
  align-items: left !important;     /* Align the flex-items vertically */
  justify-content: left !important; /* Optional, to align inner flex-items
                              horizontally within the column  */
}



.m3s1p1 .m3s1b1 .container h2{  
    font-family: "GothamHTF-Bold";
    font-size: 103%;
    width: 100%;
    }

.m3s1p1 .m3s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }

.m3s1p1 .m3s1ms2 .well {
    margin-bottom: -15px !important;
    padding: 2px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-top: 8px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


.m3s1p1 .dArowh {
    display: none;  
}

}




@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
    .m3s1p1 .m3s1b1 {
    margin-bottom: 0px;
    background: url('../img/m3s1img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s1p1 .vertical-align {
  display: inline;
}
.m3s1p1 .vertical-align > [class^="col-"],
.m3s1p1 .vertical-align > [class*=" col-"] {
  display: flex;
  align-items: left !important;     /* Align the flex-items vertically */
  justify-content: left !important; /* Optional, to align inner flex-items
                              horizontally within the column  */
}


.m3s1p1 .m3s1b1 .container h2 {  
    font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
}

.m3s1p1 .m3s1b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
}

.m3s1p1 .m3s1ms2 .well {
   margin-bottom: -15px !important;
    padding: 2px !important;
}

.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-top: 8px !important;
}
.m3s1p1 .m3s1ms2 .well .col-sm-6 p {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


.m3s1p1 .dArowh {
    display: none;  
}

}