.m3s4p1 .item a {
color: #f58320;
text-decoration: none;
cursor: pointer;
line-height: 22px;    
}

.m3s4p1 div#my_favorite_latin_words span.w10 {
  font-size: 450%;
  color: #0cf;
}
.m3s4p1 div#my_favorite_latin_words span.w9 {
  font-size:  400%;
  color: #0cf;
}
.m3s4p1 div#my_favorite_latin_words span.w8 {
  font-size:  375%;
  color: #0cf;
}
.m3s4p1 div#my_favorite_latin_words span.w7 {
  font-size:  320%;
  color: #39d;
}
.m3s4p1 div#my_favorite_latin_words span.w6 {
  font-size:  300%;
  color: #90c5f0;
}
.m3s4p1 div#my_favorite_latin_words span.w5 {
  font-size:  250%;
  color: #90a0dd;
}
.m3s4p1 div#my_favorite_latin_words span.w4 {
  font-size:  200%;
  color: #90c5f0;
}
.m3s4p1 div#my_favorite_latin_words span.w3 {
  font-size:  170%;
  color: #a0ddff;
}
.m3s4p1 div#my_favorite_latin_words span.w2 {
  font-size:  130%;
  color: #99ccee;
}
.m3s4p1 div#my_favorite_latin_words span.w1 {
  font-size:  100%;
  color: #aab5f0;
}
/*module1 section1 css*/
.m3s4p1 .container .carousel  .item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}
.m3s4p1 .container .carouselC {
  height: 0px;
  visibility: hidden;
}
.m3s4p1 .container .carouselC1 {
  height: 0px;
  visibility: hidden;
}
.m3s4p1 .container .carousel-inner {
   
    padding-bottom: 0px !important;
}
.m3s4p1 .carousel-indicators {
    bottom: -20px;
}
.m3s4p1 .container .carousel-inner {
    min-height: 200px;
    padding-left: 30px;
    padding-right: 30px;
}
.m3s4p1 .container .carousel .left.carousel-control{
    margin-left: -28px;
    height: 10px;
    top: 33%;
}
.m3s4p1 .container .carousel .left.carousel-control span{
 position: absolute;
   
}
.m3s4p1 .container .carousel .right.carousel-control{
   margin-right: -14px;
    height: 10px;
      top: 33%;
}
.m3s4p1 .container .carousel .right.carousel-control span{
    position: absolute;
    
}
.m3s4p1 .container .carousel .carousel-inner  .item{
    min-height: 200px;
}
.m3s4p1 .container .carousel .carousel-inner  .item .well{
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #8e9091;
}
.m3s4p1 .container .carousel .carousel-inner  .item .well .iHeight{
   max-height: 155px;
    overflow: hidden;
    min-height: 155px !important;
    -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.m3s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s4img1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m3s4p1 .b1  h2 {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}

.m3s4p1 .b1 .container p {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}


.m3s4p1 .m3s4b1 h3, .m3s4p1 .m3s4b2 h4, .m3s4p1 .m3s4b3 h4, .m3s4p1 .m3s4b4 h4, .m3s4p1 .m3s4b5 h4, .m3s4p1 .m3s4b6 h3, .bText {
    font-family: "GothamHTF-Bold";
}

.m3s4p1 .m3s4b2  {
    background: #f3f5f4;    
    padding-top: 20px;
    padding-bottom: 25px;
}
.m3s4p1 .m3s4b3 {
    background: #f2c431;
}

.m3s4p1 .m3s4b4 p{
    font-size: 14px;
}




.m3s4p1 .act1 h2, .m3s4p1 .act2 h2 {
    font-family: "GothamHTF-Bold";
}

.m3s4p1 .boldT {
    font-family: "GothamHTF-Bold";
}
.m3s4p1 .panel{
    border-radius:0px;
    border: 0px;
    color:#3c4252;
    text-shadow:none;
}
.m3s4p1 .panel h2 {
    font-size: 15px;
    font-family: "GothamHTF-Bold";
}
.m3s4p1 .panel h5 {
    font-size: 14px;
    color: #7d91a9;
}
.m3s4p1 .panel p {
    font-size: 12px;
    font-family: "GothamHTF-Medium";
}

.m3s4p1 .b2_s1 .tint{
    width: 100%;
    height: 100%;
    background: rgba(118,131,148,0.85);
    position: absolute;
    z-index: 9;
    top:0; 
}
.m3s4p1 .b3_s1 .tint{
    width: 100%;
    height: 100%;
    background: rgba(84,164,155,0.85);
    position: absolute;
    z-index: 9;
    top:0; 
}
.m3s4p1 .b3_s1 .container-full{

    margin-bottom: 100px;
    position: relative;
    top: 100px;
    z-index: 9999999;
}
.m3s4p1 .b2_s1 .container-full{

    position: relative;
    top: 100px;
    z-index: 9999999;
}


.m3s4p1 .s1bgcol3{
    background-color:#EAEAEA;
    width: 100%;
    padding: 0;
}.m3s4p1 .s1bgcol3 .well p{
 color: #22292F;
   font-size: 22px;
}
.m3s4p1 .s1bgcol3 .well .small{
 color: #F68223;
   font-size: 15px;
   width: 250px;
}

.m3s4p1 .s1bgcol{
    /*background-color: #fff;*/
     width: 100%; 
    padding-top: 40px;
     padding-bottom: 0px;
}
.m3s4p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}

.m3s4p1 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-left: 0;
   margin-right: 0;
}
.m3s4p1 .s1bgcol .response1 .btn-info{
   background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}

.m3s4p1 .s1bgcol .response1 .form-control{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}


.m3s4p1 .m1s1imgT{
    font-size: 14px;
    font-family: "GothamHTF-Book";
}
.m3s4p1 .middleTxt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.m3s4p1 .spanm1s1 {
    position: absolute;
    left: 50px !important;
    top: 10px !important;
    color: #3a4354;
    font-size: 13px !important;
}
.m3s4p1 .spanm1s1T {
    color: #3a4354;
    font-size: 15px !important;
    position: absolute;
    left: 50px !important;
    top: 28px !important;
}

.m3s4p1 .ms5 .row{
    margin:30px;
    padding-left:0px;
    padding-right:0px;
}

.m3s4p1 .well{
    background:none;
    border: 0px solid #e3e3e3;
    box-shadow:none;
    vertical-align: :center;
}


/* scatterplot */

.m3s4p1 .m3s4mcq {
    padding-bottom: 0;
    min-height: 490px;
}
.m3s4p1 .m3s4mcq p {
    font-size: 14px;
}
.m3s4p1 .m3s4mcq .white{
    background: white;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

.m3s4p1 .m3s4mcq .ques{
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}
.m3s4p1 .m3s4mcq .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;
}
.m3s4p1 .m3s4mcq .calcHeight{
    display: table;
}
.m3s4p1 .m3s4mcq .calcHeight .ans{
    display: table-cell !important;
    vertical-align: middle!important;
}
.m3s4p1 .m3s4mcq .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.m3s4p1 .m3s4mcq .incorrect{
    background: #F06858;
}
.m3s4p1 .m3s4mcq .correct{
    background: #2CB69D;
}
.m3s4p1 .m3s4mcq .incorrect .ques,.m3s4p1 .m3s4mcq .correct .ques{
    color: #fff;
}
.m3s4p1 .m3s4mcq .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
.m3s4p1 .m3s4mcq .incorrect .incorrectMsg,.m3s4p1 .m3s4mcq .correct .correctMsg{
    display: block;
}
.m3s4p1 .m3s4mcq .msg h3{
    color:#fff;
}
.m3s4p1 .m3s4mcq .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.m3s4p1 .m3s4mcq .incorrect .pageCount,.m3s4p1 .m3s4mcq .correct .pageCount{
    display: none;
}
.m3s4p1 .m3s4mcq .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
.m3s4p1 .m3s4mcq .correctMsg .fa{
    font-size: 17px;
}
.m3s4p1 .m3s4mcq .sign .fa{
    color: white;
}
.m3s4p1 .m3s4mcq .incorrect .sign .fa-times,.m3s4p1 .m3s4mcq .correct .sign .fa-check{
    display: block !important;
}
.m3s4p1 .m3s4mcq .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}
.m3s4p1 .m3s4mcq .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
.m3s4p1 .m3s4mcq .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}
.m3s4p1 .carousel-indicators {
    bottom: -20px !important;
}
 .m3s4p1 .m3s4b7 .m3s4b8 {
    line-height: 464px !important;
}
.m3s4p1 .m3s4b7 .eq-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.m3s4p1 .modal-content h4 {
    font-family: "GothamHTF-Medium";
}


.m3s4p1 .m4s4b20 h5 {
    font-family: "GothamHTF-Medium"; 
}
.m3s4p1 .m4s4b20 ol {
    margin-left: -22px;        
    font-family: "GothamHTF-Medium"; 
}




.m3s4p1 .m4s4b21 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s3img3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;    
    padding-bottom: 80px;
}

.m3s4p1 .m4s4b21 .vertical-align {
    align-items: center;
    display: flex;
}

.m3s4p1 .m4s4b21 h2 {
    font-family: "GothamHTF-Bold";
    color: #fff;
}

.m3s4p1 .m4s4b22 .col-sm-12 .well1{
   background: #f5f5f5;
    border-radius: 0;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    /*min-height: 570px;*/
}

.m3s4p1 .m4s4b22 .col-sm-9 {  
    height: 100%;
    padding-left: 0;
}
.m3s4p1 .m4s4b22 .col-sm-9 .well{   
     background:#fff;
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;       
     /*  min-height: 570px;*/
}
.m3s4p1 .m4s4b22 .well1 .row{   
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;
}
.m3s4p1 .m4s4b22 .col-sm-9 .well p:nth-child(1){
    color: #f68121;
    font-family: "GothamHTF-Medium";  
    font-size: 14px;
    hyphens:auto;
}
.m3s4p1 .m4s4b22 .col-sm-9 .well p:nth-child(2){    
    font-family: "GothamHTF-Bold";
    hyphens:auto;
}
.m3s4p1 .m4s4b22 .col-sm-9 .well p:nth-child(3){    
    font-family: "GothamHTF-Medium";
    font-size: 15px;
    hyphens:auto;
}
.m3s4p1 .m4s4b22 .col-sm-9 .well p:nth-child(4){    
    font-family: "GothamHTF-BookItalic";
    font-size: 12px;
    hyphens:auto;
}



@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {
.m3s4p1 .m3s4mcq .ans{
    font-size: 11px !important;
}

  .m3s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s4img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
 /*module1 section1 css*/
.m3s4p1 .s1bgcol .response1 .navbar-form{ 
    padding-left: : 10px;
padding-right: : 10px;
   
}

.m3s4p1 .b1  h2 {
   font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }

.m3s4p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }

.m3s4p1 .s1hide {
    display: none;
}

.m3s4p1 .m3s4b7 .eq-h {
  display: grid;
}

.m3s4p1 .m3s4b7 .eq-h .col-sm-4{
        width: 100% !important;
        padding-bottom: 10px;
}

.m3s4p1 .m3s4b7 .m3s4b8 {
    display: block !important;
}
.m3s4p1 .m4s4b21 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s3img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;    
    padding-bottom: 80px;
}

}



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {
  .m3s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s4img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
    .m3s4p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
     .m3s4p1 .b1  h2{
         font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
    }
    .m3s4p1 .b1 .container p{
         font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
    }
    .m3s4p1 .s1hide {
        display: none;
    }
.m3s4p1 .dArowh {
    display: none;  
}

.m3s4p1 .m3s4b7 .eq-h {
  display: grid;
}
.m3s4p1 .m3s4b7 .eq-h .col-sm-4 {
    width: 100% !important;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.m3s4p1 .m3s4b7 .m3s4b8 {
    display: block !important;
}

.m3s4p1 .m4s4b21 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s3img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;    
    padding-bottom: 50px;
}

}


@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
.m3s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s4img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
  /*module1 section1 css*/
.m3s4p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
.m3s4p1 .b1  h2{  
   font-family: "GothamHTF-Bold";
    font-size: 103%;
     width: 90%;
    }

.m3s4p1 .b1 .container p{
     font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }

.m3s4p1 .s1hide {
    display: none;
}

.m3s4p1 .dArowh {
    display: none;  
}

.m3s4p1 .m3s4b7 .eq-h {
  display: grid;
}
.m3s4p1 .m3s4b7 .eq-h .col-sm-4 {
    width: 100% !important;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.m3s4p1 .m3s4b7 .m3s4b8 {
    display: block !important;
}
.m3s4p1 .m4s4b21 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s3img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;    
    padding-bottom: 50px;
}

}

@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
.m3s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s4img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
.m3s4p1 .s1bgcol .response1 .navbar-form{ 
    padding-left: : 10px;
padding-right: : 10px;
   
}
 .m3s4p1 .b1  h2 {  
   font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
    }

.m3s4p1 .b1 .container p {
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
}

.m3s4p1 .s1hide {
    display: none;
}
 
.m3s4p1 .dArowh {
    display: none;  
}

.m3s4p1 .m3s4b7 .eq-h {
  display: grid;
}

.m3s4p1 .m3s4b7 .eq-h .col-sm-4 {
    width: 100% !important;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
}


.m3s4p1 .m3s4b7 .m3s4b8 {
    display: block !important;
}

.m3s4p1 .m4s4b21 {
    margin-bottom: 0px;
    background: url('https://s3.amazonaws.com/dell-med/img/m3s3img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;    
    padding-bottom: 40px;
}
 
}


/*code by lavlesh*/

@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {

.m3s4p1 .s1bgcol .response1 .form-control{ 
 font-size:9px !important;

}

.m3s4p1 .s1bgcol .response1 .btn-info {
  font-size: 10px;
  width: 81px;
    }

}