.m3s7p1 .item a {
color: #f58320;
text-decoration: none;
cursor: pointer;
line-height: 22px;    
}

.m3s7p1 div#my_favorite_latin_words span.w10 {
  font-size: 450%;
  color: #0cf;
}

.m3s7p1 div#my_favorite_latin_words span.w9 {
  font-size:  400%;
  color: #0cf;
}
.m3s7p1 div#my_favorite_latin_words span.w8 {
  font-size:  375%;
  color: #0cf;
}
.m3s7p1 div#my_favorite_latin_words span.w7 {
  font-size:  320%;
  color: #39d;
}
.m3s7p1 div#my_favorite_latin_words span.w6 {
  font-size:  300%;
  color: #90c5f0;
}
.m3s7p1 div#my_favorite_latin_words span.w5 {
  font-size:  250%;
  color: #90a0dd;
}
.m3s7p1 div#my_favorite_latin_words span.w4 {
  font-size:  200%;
  color: #90c5f0;
}
.m3s7p1 div#my_favorite_latin_words span.w3 {
  font-size:  170%;
  color: #a0ddff;
}
.m3s7p1 div#my_favorite_latin_words span.w2 {
  font-size:  130%;
  color: #99ccee;
}
.m3s7p1 div#my_favorite_latin_words span.w1 {
  font-size:  100%;
  color: #aab5f0;
}
/*module1 section1 css*/
.m3s7p1 .container .carousel  .item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}
.m3s7p1 .container .carouselC {
  height: 0px;
  visibility: hidden;
}
.m3s7p1 .container .carouselC1 {
  height: 0px;
  visibility: hidden;
}
.m3s7p1 .container .carousel-inner {
   
    padding-bottom: 0px !important;
}
.m3s7p1 .ccl {
    bottom: -20px !important;

}
.m3s7p1 .container .carousel-inner {
    min-height: 200px;
    padding-left: 30px;
    padding-right: 30px;
}
.m3s7p1 .container .carousel .left.carousel-control{
    margin-left: -28px;
    height: 10px;
    top: 33%;
}
.m3s7p1 .container .carousel .left.carousel-control span{
 position: absolute;
   
}
.m3s7p1 .container .carousel .right.carousel-control{
   margin-right: -14px;
    height: 10px;
      top: 33%;
}
.m3s7p1 .container .carousel .right.carousel-control span{
    position: absolute;
    
}
.m3s7p1 .container .carousel .carousel-inner  .item{
    min-height: 200px;
}
.m3s7p1 .container .carousel .carousel-inner  .item .well{
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #8e9091;
}
.m3s7p1 .container .carousel .carousel-inner  .item .well .iHeight{
   max-height: 155px;
    overflow: hidden;
    min-height: 155px !important;
    -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.m3s7p1 .s1bgcol3{
    background-color:#EAEAEA;
    width: 100%;
    padding: 0;
}
.m3s7p1 .s1bgcol3 .well p{
 color: #22292F;
   font-size: 22px;
}
.m3s7p1 .s1bgcol3 .well .small{
 color: #F68223;
   font-size: 15px;
   width: 250px;
}




.m3s7p1 .s1bgcol{
    /*background-color: #fff;*/
     width: 100%; 
    padding-top: 40px;
     padding-bottom: 0px;
}
.m3s7p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}

.m3s7p1 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-left: 0;
   margin-right: 0;
}
.m3s7p1 .s1bgcol .response1 .btn-info{
   background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}

.m3s7p1 .s1bgcol .response1 .form-control{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}

.m3s7p1 .act1 h2, .m3s7p1 .act2 h2 {
    font-family: "GothamHTF-Bold";
}



.m3s7p1 .b1 {
    margin-bottom: 0px;
    background: url('../img/m3s7img1head.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s7p1 .b1 h2 {
     background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
.m3s7p1 .b1 .container p {
     background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}


.m3s7p1 .m3s7b2 h3,  .m3s7p1 .m3s7b9 h3,  .m3s7p1 .bText{
  font-family: "GothamHTF-Bold";    
}
 .m3s7p1  .m3s7b9 p{    
    font-size: 14px;    
}



.m3s7p1 .m3s7b12 h5 {
    font-family: "GothamHTF-Medium"; 
}
.m3s7p1 .m3s7b12 ol {
    margin-left: -22px;        
    font-family: "GothamHTF-Medium"; 
}

.m3s7p1 .m3s7b4 .carousel-indicators {
    bottom: 20px !important;

}


/* scatterplot */

.m3s7p1 .m3s7mcq {
    padding-bottom: 0;
    min-height: 490px;
}
.m3s7p1 .m3s7mcq p {
    font-size: 14px;
}
.m3s7p1 .m3s7mcq .white{
    background: white;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

.m3s7p1 .m3s7mcq .ques{
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
	text-align: left;
}

.m3s7p1 .m3s7mcq ul {
    color: #3C4252;
    font-size: 14px;
    font-weight: 600;
}

.m3s7p1 .m3s7mcq .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;

}


.m3s7p1 .m3s7mcq .calcHeight{
    display: table;
}
.m3s7p1 .m3s7mcq .calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
.m3s7p1 .m3s7mcq .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.m3s7p1 .m3s7mcq .incorrect{
    background: #F06858;
}
.m3s7p1 .m3s7mcq .correct{
    background: #2CB69D;
}
.m3s7p1 .m3s7mcq .incorrect .ques,.m3s7p1 .m3s7mcq .correct .ques,   .m3s7p1 .m3s7mcq .incorrect ul,.m3s7p1 .m3s7mcq .correct ul  

{
    color: #fff;
}
.m3s7p1 .m3s7mcq .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
.m3s7p1 .m3s7mcq .incorrect .incorrectMsg,.m3s7p1 .m3s7mcq .correct .correctMsg{
    display: block;
}
.m3s7p1 .m3s7mcq .msg h3{
    color:#fff;
}
.m3s7p1 .m3s7mcq .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.m3s7p1 .m3s7mcq .incorrect .pageCount,.m3s7p1 .m3s7mcq .correct .pageCount{
    display: none;
}
.m3s7p1 .m3s7mcq .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
.m3s7p1 .m3s7mcq .correctMsg .fa{
    font-size: 17px;
}
.m3s7p1 .m3s7mcq .sign .fa{
    color: white;
}
.m3s7p1 .m3s7mcq .incorrect .sign .fa-times,.m3s7p1 .m3s7mcq .correct .sign .fa-check{
    display: block !important;
}
.m3s7p1 .m3s7mcq .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}

.m3s7p1 .m3s7mcq .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
.m3s7p1 .m3s7mcq .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}


 .m3s7p1 .m3s7b4 .m3s7b7 {
    line-height: 464px !important;
}

.m3s7p1 .m3s7b4 .eq-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}


.m3s7p1 .modal-content h4 {
    font-family: "GothamHTF-Medium";
}

.m3s7p1 .chargeM {
    width: 97.4%
}






@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {
.m3s7p1 .m3s7b4 .eq-h {
        display: grid;
    }

    .m3s7p1 .m3s7b4 .eq-h .col-sm-4, .m3s7p1 .m3s7b4 .eq-h .col-sm-3  {
        width: 100% !important;
        padding-bottom: 10px;

}

.m3s7p1 .b1 {
    margin-bottom: 0px;
    background: url('../img/m3s7img1head.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m3s7p1 .b1 h2 {
   font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }

.m3s7p1 .b1 .container p {
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }
.m3s7p1 .s3hide {
    display: none;
}

.m3s7p1 .m3s7b4 .m3s7b7 {
        display: none !important;
    }

 .m3s7p1 .chargeM {
    width: 98.4%
}


}



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {

    .m3s7p1 .m3s7b4 .eq-h {
        display: grid;
    }


    .m3s7p1 .m3s7b4 .eq-h .col-sm-4, .m3s7p1 .m3s7b4 .eq-h .col-sm-3  {
        width: 100% !important;
        padding-bottom: 10px;

}

.m3s7p1 .b1 {
    margin-bottom: 0px;
    background: url('../img/m3s7img1head.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
} 

.m3s7p1 .m3s7b4 .eq-h {
  display: grid;
}

.m3s7p1 .b1 h2 {
     font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
}
.m3s7p1 .b1 .container p{
    font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
}
.m3s7p1 .s3hide {
    display: none;
}

 .m3s7p1 .dArowh {
    display: none;  
}

.m3s7p1 .m3s7b4 .m3s7b7 {
        display: none !important;
    }
    
  
}





@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {

    .m3s7p1 .m3s7b4 .eq-h {
        display: grid;
    }

    .m3s7p1 .m3s7b4 .eq-h .col-sm-4, .m3s7p1 .m3s7b4 .eq-h .col-sm-3  {
        width: 100% !important;
        padding-bottom: 10px;

}

    .m3s7p1 .b1 {
    margin-bottom: 0px;
    background: url('../img/m3s7img1head.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m3s7p1 .m3s7b4 .eq-h {
  display: grid;
}

.m3s7p1 .b1 h2 {  
    font-family: "GothamHTF-Bold";
    font-size: 103%;
     width: 90%;
    }

.m3s7p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }

.m3s7p1 .s3hide {
    display: none;
}
 .m3s7p1 .dArowh {
    display: none;  
}
  
  .m3s7p1 .m3s7b4 .m3s7b7 {
        display: none !important;
    }



}




@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {

    .m3s7p1 .m3s7b4 .eq-h {
        display: grid;
    }

    .m3s7p1 .m3s7b4 .eq-h .col-sm-4, .m3s7p1 .m3s7b4 .eq-h .col-sm-3  {
        width: 100% !important;
        padding-bottom: 10px;

}

.m3s7p1 .b1 {
    margin-bottom: 0px;
    background: url('../img/m3s7img1head.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m3s7p1 .m3s7b4 .eq-h {
  display: grid;
}

.m3s7p1 .b1 h2 {  
    font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
    }

.m3s7p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
    }

.m3s7p1 .s3hide {
    display: none;
}

 .m3s7p1 .dArowh {
    display: none;  
}

.m3s7p1 .m3s7b4 .m3s7b7 {
        display: none !important;
    }


}





@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {

.m3s7p1 .s1bgcol .response1 .form-control{ 
 font-size:9px !important;

}

.m3s7p1 .s1bgcol .response1 .btn-info {
  font-size: 10px;
  width: 81px;
    }

    
}