# Ignore Python Class, Data, and Cache Files
*.pyc
*.pyo
*.pyd
__pycache__/

#ignore log files
*.log

#ignore data files and csv files
*.dat
*.csv

# ignore files from running development server
nohup.out

# ignore IntelliJ directories and settings
*.iml
.idea/